body
{
    background-color: plum;
    text-align: center;
}
.heading
{  
    font-family: 'Mochiy Pop P One', sans-serif;
    padding: 4% 5%;
}
#Middle
{
    font-family: 'Pacifico', cursive;
}
#Bottom
{
    font-family: 'EB Garamond', serif;
}
h1
{
    font-size: 100%;
}
.row
{
    padding: 1% 10%;
}
.image
{
    width: 2rem;
}
.heading .row
{
    padding: 1% 17%;
    
}
.hide
{
    visibility: hidden;
}
.Dice
{
    width: 40%;
}
footer
{
    padding-top: 2%;
}


